Host gateway
  Hostname gateway
  ForwardAgent yes
  ControlPath ~/.ssh/cm-%r@%h:%p
  ControlMaster auto
  ControlPersist 10m
  User {{ user_das }}

Host *keyword*
  IdentityFile ~/.ssh/id_rsa
  ProxyCommand ssh gateway -W %h:%p
  User {{ user_das }}
